{namespace spa.cat}

{template showLink}
  <div class="link">
    <a href="/cat/{$id}">{$name}</a>
  </div>
{/template}

{template view}
  <div class="cat">
    {call show-cat data="$cat" /}
  </div>
  <div class="history">

    <div class="add-history">
      {$form}
    </div>

    <div id="types" class="types">
      {foreach $type in $types}
        {call show-type data="$type" /}
      {/foreach}
    </div>

    <table class="history-table">
      <thead>
        <th>Type</th>
        <th>Date</th>
        <th>Commentaire</th>
        <th>Auteur</th>
      </thead>
      <tbody>
        {foreach $history in $histories}
          {call show-history data="$history" /}
        {/foreach}
      </tbody>
    </table>

  </div>
{/template}

{template showType}
  <label>
    <input type="checkbox" name="type" value="{$id}">
    <span>{$name}</span>
  </label>
{/template}

{template showCat}
  <div class="name">
    {$name}
  </div>
  
  <div class="gender">
    {$gender}
  </div>
  
  <div class="birthday">
    <div class="field-name">
      Date de naissance
    </div>
    <div class="field-value">
      {$birthday}
    </div>
  </div>
  
  <div class="status">
    <div class="field-name">
      Status
    </div>
    <div class="field-value">
      {$status}
    </div>
  </div>
  
  <div class="identification">
    <div class="field-name">
      Identification
    </div>
    <div class="field-value">
      {$identification}
    </div>
  </div>
  
  <div class="weight">
    <div class="field-name">
      Poids
    </div>
    <div class="field-value">
      {$weight}
    </div>
  </div>
{/template}

{template showHistory}
  <tr>
    <td>{$type}</td>
    <td>{$date}</td>
    <td>{$comment}</td>
    <td>{$author}</td>
  </tr>
{/template}

{template historyadd}
  <form method="post">
    <fieldset>
      <legend>Ajouter un suivi pour {$catname}</legend>
      <label>
        <span>Type de suivi</span>
        <select name="type" required>
          <option>Choisissez un type de suivi</option>
          {foreach $type in $types}
            {call show-type-option data="$type" /}
          {/foreach}
        </select>
      </label>

      <label>
        <span>Commentaire (optionnel)</span>
        <textarea name="comment"></textarea>
      </label>

      <label>
        <span>Date du suivi</span>
        <input type="date" name="date">
      </label>

      <input type="submit" value="Ajouter le suivi">
    </fieldset>
  </form>
{/template}

{template showTypeOption}
  <option value="{$id}">{$name}</option>
{/template}

{template add}
  <form method="post" class="cat-form">
    <fieldset>
      <legend>Ajout d'un chat</legend>

      <label>
        <span>Nom du chat</span>
        <input type="text" name="name" required>
      </label>

      <div class="gender">
        <span>Gendre du chat</span>
        <label>
          <input type="radio" name="gender" value="0" required>
          <span>Mâle</span>
        </label>

        <label>
          <input type="radio" name="gender" value="1" required>
          <span>Femelle</span>
        </label>
      </div>

      <label>
        <span>Statut</span>
        {$status|noAutoescape}
      </label>
      
      <label>
        <span>Date de naissance du chat</span>
        <input type="date" name="birthday">
      </label>

      <label>
        <span>Identification</span>
        <input type="text" maxlength="255" name="identification">
      </label>

      <label>
        <span>Race</span>
        <input type="text" maxlength="255" name="race">
      </label>

      <label>
        <span>Robe</span>
        <input type="text" maxlength="255" name="color">
      </label>

      <label>
        <span>Poids</span>
        <input type="text" maxlength="50" name="weight">
      </label>

      <input type="submit" value="Ajouter le chat">
    </fieldset>
  </form>
{/template}
