{namespace spa.cat}

{template all}
  {foreach $name in $names}
    <div class="cat">{$name}</div>
  {/foreach}
{/template}

{template view}
  {$name}
{/template}

{template add}
  <form method="post">
    <label>
      <span>Name of the cat</span>
      <input type="text" name="name" required>
     </label>

    <input type="submit" value="Add cat">
  </form>
{/template}
