{namespace spa.cat}

{template all}
  {foreach $name in $names}
    {call show-link data="$name" /}
  {/foreach}
{/template}

{template showLink}
  <div class="cat link">
    <a href="/cat/{$id}">{$name}</a>
  </div>
{/template}

{template view}
  {$name}
{/template}

{template add}
  <form method="post">
    <label>
      <span>Name of the cat</span>
      <input type="text" name="name" required>
     </label>

    <input type="submit" value="Add cat">
  </form>
{/template}
