{namespace spa.layout}

{template main}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>{$title}</title>
    <link rel="stylesheet" href="/static/css/styles.css">
  </head>
  <body>
    {$body|noAutoescape}
  </body>
</html>
{/template}

{template cat}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>{$title}</title>
    <link rel="stylesheet" href="/static/css/styles.css">
  </head>
  <body>
    <form id="select-form" class="select" method="get" action="/cat/goto">
      <select id="select-cat" name="id">
        <option>Choisissez un chat</option>
        {foreach $cat in $cats}
          {call show-option data="$cat" /}
        {/foreach}
      </select>
      <input type="submit" value="Go" id="select-submit">
    </form>
    {$body|noAutoescape}

    <script src="/static/js/cat.js"></script>
  </body>
</html>
{/template}

{template showOption}
  <option value="{$id}">{$name}</option>
{/template}
