{namespace spa.layout}

{template main}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{$title}</title>
    <link rel="stylesheet" href="/static/css/styles.css">
  </head>
  <body>
    {$body|noAutoescape}
  </body>
</html>
{/template}

{template cat}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{$title}</title>
    <link rel="stylesheet" href="/static/css/styles.css">
  </head>
  <body>
    <form class="select" method="get" action="/cat/goto">
      <select id="select-cat" name="id">
        {foreach $cat in $cats}
          {call show-option data="$cat" /}
        {/foreach}
      </select>
      <input type="submit" value="Go">
    </form>
    {$body|noAutoescape}
  </body>
</html>
{/template}

{template showOption}
  <option value="{$id}">{$name}</option>
{/template}
