{namespace spa.status}

{template select}
  <select name="status">
    {foreach $status in $statuses}
      {call show-option data="$status" /}
    {/foreach}
  </select>
{/template}

{template showOption}
  <option value="{$id}" {if $selected}selected{/if}>{$name}</option>
{/template}

{template add}
  <form method="post">
    <fieldset>
      <legend>Ajouter un statut (statut d'un chat)</legend>
      <label>
        <span>Nom</span>
        <input type="text" name="name" required>
      </label>

      <input type="submit" value="Ajouter">
    </fieldset>
  </form>
{/template}
