{namespace spa.type}

{template add}
  <form method="post">
    <fieldset>
      <legend>Ajouter un type de suivi</legend>
      <label>
        <span>Nom</span>
        <input type="text" name="name" required>
      </label>

      <input type="submit" value="Ajouter">
    </fieldset>
  </form>
{/template}

{template showAll}
  {foreach $type in $types}
    {call show data="$type" /}
  {/foreach}
{/template}

{template show}
  <label>
    <input type="checkbox" name="types" value="{$id}" {if $selected}checked{/if}>
    <span>{$name}</span>
  </label>
{/template}

{template select}
  <select name="type" required>
    <option>Choisissez un type de suivi</option>
    {foreach $type in $types}
      {call show-option data="$type" /}
    {/foreach}
  </select>
{/template}

{template showOption}
  <option value="{$id}" {if $selected}selected{/if}>{$name}</option>
{/template}
