{namespace spa.type}

{template add}
  <form method="post">
    <fieldset>
      <legend>Ajouter un type de suivi</legend>
      <label>
        <span>Nom</span>
        <input type="text" name="name" required>
      </label>

      <input type="submit" value="Ajouter">
    </fieldset>
  </form>
{/template}
