{namespace spa.users}

{template add}
  <form method="post">
    <fieldset>
      <legend>Ajouter un utilisateur</legend>
      <label>
        <span>Nom</span>
        <input class="form-control" type="text" name="name" required>
      </label>

      <label>
        <span>Mot de passe</span>
        <input class="form-control" type="text" name="pass" required>
      </label>
      
      <input class="form-control btn btn-default" type="submit" value="Ajouter">
    </fieldset>
  </form>
{/template}

{template login}
<form method="post" role="form">
  <fieldset>
    <legend>Rentrez vos identifiants</legend>
    
    <label class="form-group">
      <span>Nom</span>
      <input type="text" name="name" class="form-control" required>
    </label>

    <label class="form-group">
      <span>Mot de passe</span>
      <input type="password" name="pass" class="form-control" required>
    </label>

    <input type="submit" class="btn btn-default form-control" value="Se connecter">
  </fieldset>
</form>
{/template}
