{namespace spa.users}

{template add}
  <form method="post">
    <fieldset>
      <legend>Ajouter un utilisateur</legend>
      <label>
        <span>Nom</span>
        <input type="text" name="name" required>
      </label>
      
      <input type="submit" value="Ajouter">
    </fieldset>
  </form>
{/template}

{template login}
<form method="post">
  <fieldset>
    <legend>Choisissez votre identité</legend>
    <select name="users">
      {foreach $user in $users}
        {call show-option data="$user" /}
      {/foreach}
    </select>

    <input type="submit" value="Se connecter">
  </fieldset>
</form>
{/template}

{template showOption}
  <option value="{$id}">{$name}</option>
{/template}
